/* COLOR PALLET
 * color1: #EDECFF
 * color2: #252036
 * color3:  #EB7E26
 * color4: #26EB29 */

div.summary
{
  text-align: right;
}

.main 
{
  line-height: 1.5;
}

.page-wrapper 
{
  position: relative;
  max-width: 1280px;
  margin: 50px;
}

.explanation 
{
  width: 60%;
  margin-right: 35%;
  border-right: 1px solid #1f295c;
  padding-right: 2%;
}

.design-selection {
    position: absolute;
    top: 400px;
    left: 62%;
    padding: 2%;
}

section.intro 
{
  height: 550px;
}

#design-archives 
{
  display:none;
}

body 
{
  background-color: #EDECFF;
  color: #252036;

  font-size: 15px;
  font-family: sans-serif;

  width: 80%;
  height: 80%
  max-width: 1280px;

  text-align: center;
  text-indent: 16px;
}

p
{
  text-indent: 1em;
}

a
{
  color: #25095a;
}

h1 
{ 
  font-size: 24px;
  margin-right: 16px;
}

h2 
{ 
  font-size: 22px; 
  text-indent: 16px;
}

h3 
{ 
  font-size: 18px; 

  background-color: #252036;
  color: #EDECFF;
}

abbr 
{
  font-variant: small-caps;
}

li 
{
  border-top-style: solid;
  text-align: center;
  list-style-type: none;
  line-height: 1.5em;
  margin-bottom: 16px;
}

footer
{
  margin: 4%; 
  background-color: #252036;
  color: #EDECFF;
}
footer a
{
  border-style: solid;
  border-width: 2px;
  padding: 0.5em;
  background-color: #252036;
  color: #EDECFF;
}

header[role="banner"] 
{
  background-color: #252036;
  color: #EDECFF;
  text-align: left;
}
header[role="banner"] h1 
{
  display: inline;
  padding-left: 1em;
}
header[role="banner"] h2 
{
  display: inline;
  padding-left: 1em;
}
